# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.pkl

# Virtual Environment
venv/
env/
ENV/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Environment variables
.env

# Node (Frontend)
node_modules/
build/
dist/

# VS Code / IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Output files
results.jsonl

# Mac specific
*.DS_Store

# Windows specific
desktop.ini

# Misc
*.swp
*.swo